# Entornos virtuales
venv/
venv_linux/

# Python
__pycache__/
*.pyc

# Base de datos local
db.sqlite3

# Variables de entorno
.env

# Media (por el momento)
media/

# Archivos del sistema
.DS_Store
Thumbs.db